/**
 * Styles for the homepage. Scoped via CSS modules.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.projectLogo {
  max-width: 200px;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  text-align: center;
}

.featureImage {
  height: 120px;
  width: 120px;
  margin-bottom: 1rem;
}
