*.class
*.log

# sbt specific
.bsp
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Idea
.idea/
*.iml
*.ipr

# Metals
.bloop
.vscode
.history
.metals
settings.json
metals.sbt

# Docusaurus
website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
!website/i18n/en.json

# Mac
.DS_Store
