name: Publish Release
  
on:
  release:
    types: [published]
    branches: [main]
  
jobs:
  release:
    uses: evolution-gaming/scala-github-actions/.github/workflows/release.yml@v1
    secrets: inherit
